<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<link href="/style.css" rel="stylesheet" type="text/css">
    <title> Write an Amazing New Forus Forum Post and churn in some ad revenue for me!</title>
  </head>
  <body>
  <footer>
  <ul class="cats">
  <h4><a href="/cats/add"> >Add a New Category!</a></h4>
  &nbsp;&nbsp;&nbsp;<h4><a href="/"> >See All Posts</a></h4>
  &nbsp;&nbsp;&nbsp;<h4><a href="/user/new"> Add a New User!</a></h4>
  </ul>
  </footer>
  </body>
  </html>
