<%include ./partials/header%>
<%include ./partials/footer%>
    <ol>
      <form method="POST" action="/posts">
        <li><label>Add a Title:<br></label><input type="text" name="title" placeholder="10 things I love about You!"></li>
        <li><label>Add the Body:<br /></label><textarea rows="10" cols="50" name="body" placeholder="Wow I just found the best blog editTor evAr and it is so 1337!"></textarea></li>
        <li><label>Add an image URL:<br></label><input type="text" name="imageUrl" placeholder="images.google.com/search/coolestPicEvar.jpg"></li>
        <li><label> Ensure Everything looks good: )<br></label>
        <span><input type="submit" value="Confirm"></li></span>
      </form>  
    </ol>