<%include ./partials/header%>
<div class="adding">
<form method="POST" action="/user/new">
<ul class="user">
<li><label>Enter your First Name<br />
<input type="text" placeholder="Johnny" name="firstN" maxlength="15" required></label></li>
<li><label>Enter your Last Name <br />
<input type="text" placeholder="Bravo" name="lastN" maxlength="15" required>
</label></li>
<li><label>Enter your User Name <br />
<input type="text" placeholder="JohnnyB1991" name="userN" maxlength="12" required>
</label></li>
<li><label>Enter your eMail <br />
<input type="text" placeholder="johnnyb1991@mail.com" name="email" maxlength="30" required></label></li>
<%if(error.text==="Nope!"){%>
  <span class="error">
  &#9756;
  <%}%>
  </span>

<li><label>Enter an image for your Profile <br />
<input type="text" placeholder="https://tstmasterassets.s3.amazonaws.com/assets/redesign/people/stock/person-2-24923d4cee72cf21a0b661ba3921b99c.jpg" name="imageUrl" minlength="10" maxlength="80" required>
</label></li>

<li><label>Enter your Password (this won't be secure) <br />
<input type="password" name="pw" placeholder="p@55VV0rd!" required>
</label></li>
<li><label>Re-enter Password (this won't be secure) <br />
<input type="password" name="pw1" placeholder="p@55VV0rd!" required>
</label></li>

<li><label>Coming Soon: upload a photo.</label></li>
<label>Everything look Good!</label><br />
<li><span class="mainSub"><input type="submit" value="ADD!"></span></li>

</ul>
</form>
</div>

<%include ./partials/footer%>